.Blogs{
    background-color: #6bbbae;
    align-items: center;
    justify-content: center;
}
.Blogs .Img1{
    width: 500px;
    height: 350px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.Blogs button{
    align-items: center;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #669900;
    height: 50px;
    width: 150px;
    text-decoration: none;
    font-weight: bold;
}