.blogContent{

}
.blogContent h1{
    color: black;
    font-size: 35px;
    text-decoration: double;
}
p{
    font-weight: lighter;
    font-size: 15px;
    text-align: left;
}
.blogContent .Img2{
    width: 500px;
    height: 350px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.blogContent h2{
    color: black;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
}
.blogContent .ReferenceList{
    text-align: left;
}